@model IdModel

<p>Singleton Service id: @Model.ControllerId, DependencyServiceId - @Model.DependencyServiceId</p>

<h2>
    Use cases
</h2>

<ul>
    <li>Clients: HttpClient, Cache, DB</li>
    <li>Global Configurations</li>
    <li>Application states</li>
</ul>