@model IdModel

<p>Transient Service id - @Model.ControllerId, DependencyServiceId - @Model.DependencyServiceId</p>

<h2>
    Use cases
</h2>

<ul>
    <li>File access</li>
    <li>When you need a fresh instance of an object every single time.</li>
</ul>